openapi: 3.1.0
info:
  title: IAM · AuthN API（认证中心）
  version: 1.0.0
  description: 身份认证、令牌生命周期与账户管理 REST API
  contact:
    name: API Support
    email: yshujie@163.com
    url: https://github.com/FangcunMount/iam-contracts
servers:
- url: https://iam.yangshujie.com/api/v1
  description: Production
- url: http://localhost:18081/api/v1
  description: Local Dev
security:
- bearerAuth: []
tags:
- name: Authentication-Auth
  description: 认证与令牌生命周期
- name: Authentication-Accounts
  description: 账户管理
- name: Authentication-JWKS
  description: 公钥集管理
- name: 认证
- name: 账户管理
paths:
  /.well-known/jwks.json:
    get:
      tags:
      - Authentication-JWKS
      summary: 获取 JWKS
      description: 获取 JSON Web Key Set，用于验证 JWT 签名
      responses:
        '200':
          description: JWKS JSON
          headers:
            Cache-Control:
              schema:
                type: string
              description: 缓存控制
            ETag:
              schema:
                type: string
              description: 实体标签
            Last-Modified:
              schema:
                type: string
              description: 最后修改时间
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /authn/accounts/{accountId}:
    get:
      tags:
      - 账户管理
      summary: 获取账户信息
      description: 根据账户ID获取账户详细信息
      parameters:
      - name: accountId
        in: path
        description: 账户ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 账户信息
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.Account'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '404':
          description: 账户不存在
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/accounts/{accountId}/disable:
    post:
      tags:
      - 账户管理
      summary: 禁用账户
      description: 将账户标记为禁用，阻止继续认证
      parameters:
      - name: accountId
        in: path
        description: 账户ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 禁用成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.MessageResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '404':
          description: 账户不存在
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/accounts/{accountId}/enable:
    post:
      tags:
      - 账户管理
      summary: 启用账户
      description: 恢复已禁用的账户
      parameters:
      - name: accountId
        in: path
        description: 账户ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 启用成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.MessageResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '404':
          description: 账户不存在
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/accounts/{accountId}/profile:
    put:
      tags:
      - 账户管理
      summary: 更新账户资料
      description: 更新微信账户的昵称、头像等资料信息
      parameters:
      - name: accountId
        in: path
        description: 账户ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_request.UpsertWeChatProfileReq'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.MessageResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '404':
          description: 账户不存在
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/accounts/{accountId}/unionid:
    put:
      tags:
      - 账户管理
      summary: 设置账户 UnionID
      description: 将微信账户的 UnionID 与内部账户关联
      parameters:
      - name: accountId
        in: path
        description: 账户ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_request.SetWeChatUnionIDReq'
      responses:
        '200':
          description: 设置成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.MessageResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '404':
          description: 账户不存在
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/accounts/wechat/register:
    post:
      tags:
      - 账户管理
      summary: 微信用户注册
      description: 使用微信 JS Code 注册新用户，服务端根据 AppID 查询 AppSecret 并自动调用 code2session 获取 OpenID 和 UnionID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_request.RegisterWeChatAccountReq'
      responses:
        '201':
          description: 注册成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.RegisterResult'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '409':
          description: 用户已存在
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/admin/jwks/keys:
    get:
      tags:
      - Authentication-JWKS
      summary: 列出密钥
      description: 分页列出所有密钥
      parameters:
      - name: status
        in: query
        description: 状态过滤 (active, grace, retired)
        schema:
          type: string
      - name: limit
        in: query
        description: 每页数量
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        description: 偏移量
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: 密钥列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.KeyListResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
    post:
      tags:
      - Authentication-JWKS
      summary: 创建密钥
      description: 创建新的签名密钥
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_request.CreateKeyRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.KeyResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /authn/admin/jwks/keys/{kid}:
    get:
      tags:
      - Authentication-JWKS
      summary: 获取密钥详情
      description: 根据 kid 获取密钥详细信息
      parameters:
      - name: kid
        in: path
        description: 密钥 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 密钥详情
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.KeyResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '404':
          description: 密钥不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /authn/admin/jwks/keys/{kid}/force-retire:
    post:
      tags:
      - Authentication-JWKS
      summary: 强制退役密钥
      description: 强制将任何状态的密钥转为 Retired（用于紧急情况）
      parameters:
      - name: kid
        in: path
        description: 密钥 ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: 强制退役成功
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '404':
          description: 密钥不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /authn/admin/jwks/keys/{kid}/grace:
    post:
      tags:
      - Authentication-JWKS
      summary: 进入宽限期
      description: 将密钥状态从 Active 转为 Grace
      parameters:
      - name: kid
        in: path
        description: 密钥 ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: 进入宽限期成功
        '400':
          description: 参数错误或状态不允许
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '404':
          description: 密钥不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /authn/admin/jwks/keys/{kid}/retire:
    post:
      tags:
      - Authentication-JWKS
      summary: 退役密钥
      description: 将密钥状态从 Grace 转为 Retired
      parameters:
      - name: kid
        in: path
        description: 密钥 ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: 退役成功
        '400':
          description: 参数错误或状态不允许
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '404':
          description: 密钥不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /authn/admin/jwks/keys/cleanup:
    post:
      tags:
      - Authentication-JWKS
      summary: 清理过期密钥
      description: 删除已过期的 Retired 密钥
      responses:
        '200':
          description: 清理结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.CleanupResponse'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /authn/admin/jwks/keys/publishable:
    get:
      tags:
      - Authentication-JWKS
      summary: 获取可发布的密钥
      description: 获取当前会被发布到 JWKS 的密钥列表（用于预览或调试）
      responses:
        '200':
          description: 可发布的密钥列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.PublishableKeysResponse'
        '401':
          description: 未认证
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /authn/login:
    post:
      tags:
      - 认证
      summary: 用户登录
      description: 支持多种登录方式：密码登录、手机验证码登录、微信小程序登录、企业微信登录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_request.LoginRequest'
      responses:
        '200':
          description: 登录成功，返回访问令牌和刷新令牌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.TokenPair'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '401':
          description: 认证失败
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/logout:
    post:
      tags:
      - 认证
      summary: 用户登出
      description: 撤销访问令牌和刷新令牌
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_request.LogoutRequest'
      responses:
        '200':
          description: 登出成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.MessageResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/refresh_token:
    post:
      tags:
      - 认证
      summary: 刷新访问令牌
      description: 使用刷新令牌获取新的访问令牌
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_request.RefreshTokenRequest'
      responses:
        '200':
          description: 刷新成功，返回新的访问令牌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.TokenPair'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '401':
          description: 刷新令牌无效或已过期
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
  /authn/verify:
    post:
      tags:
      - 认证
      summary: 验证访问令牌
      description: 验证访问令牌的有效性并返回声明信息
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_request.VerifyTokenRequest'
      responses:
        '200':
          description: 验证成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authn_restful_response.TokenVerifyResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '401':
          description: 令牌无效
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    AccountId:
      in: path
      name: accountId
      required: true
      schema:
        type: string
    KeyId:
      in: path
      name: kid
      required: true
      schema:
        type: string
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      in: query
      name: offset
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    Unauthorized:
      description: 未认证
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 无权限
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: 冲突
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: 参数错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: 服务器内部错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    LoginRequest:
      type: object
      properties:
        method:
          type: string
          description: 认证方式：password | phone_otp | wechat | wecom
        credentials:
          type: array
          description: 凭证（根据 method 不同而不同）
          items:
            type: integer
        device_id:
          type: string
          description: 设备 ID
      required:
      - method
      - credentials
    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
      required:
      - refresh_token
    LogoutRequest:
      type: object
      properties:
        access_token:
          type: string
          description: 可选，撤销访问令牌
        refresh_token:
          type: string
          description: 可选，撤销刷新令牌
    VerifyTokenRequest:
      type: object
      properties:
        access_token:
          type: string
      required:
      - access_token
    TokenPair:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
    TokenVerifyResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: 令牌是否有效
        claims:
          $ref: '#/components/schemas/TokenClaims'
          description: 令牌声明（如果有效）
    TokenClaims:
      type: object
      properties:
        account_id:
          type: string
          description: 账户 ID
        expires_at:
          type: string
          description: 过期时间
        issued_at:
          type: string
          description: 签发时间
        issuer:
          type: string
          description: 签发者
        jti:
          type: string
          description: JWT ID（可选）
        kid:
          type: string
          description: Key ID（可选）
        tenant_id:
          type: integer
          description: 租户 ID（可选）
        user_id:
          type: string
          description: 用户 ID
    Account:
      type: object
      properties:
        appId:
          type: string
        externalId:
          type: string
        id:
          type: string
        provider:
          type: string
        status:
          type: string
        userId:
          type: string
    RegisterWeChatAccountReq:
      type: object
      properties:
        appId:
          type: string
          description: 微信应用ID
        avatar:
          type: string
          description: 微信头像（可选）
        email:
          type: string
          description: 邮箱（可选）
        jsCode:
          type: string
          description: 微信登录凭证（临时登录凭证）
        meta:
          type: object
          additionalProperties: true
          description: 微信元数据（可选）
        name:
          type: string
          description: 用户名
        nickname:
          type: string
          description: 微信昵称（可选）
        phone:
          type: string
          description: 手机号（必填）
      required:
      - appId
      - jsCode
      - name
      - phone
    RegisterResult:
      type: object
      properties:
        accountId:
          type: integer
        accountType:
          type: string
        credentialID:
          type: integer
        email:
          type: string
        externalId:
          type: string
        isNewAccount:
          type: boolean
        isNewUser:
          type: boolean
        phone:
          type: string
        userId:
          type: integer
        userName:
          type: string
    UpsertWeChatProfileReq:
      type: object
      properties:
        nickname:
          type: string
        avatar:
          type: string
          format: uri
        meta:
          type: object
          additionalProperties: true
    SetWeChatUnionIDReq:
      type: object
      properties:
        unionId:
          type: string
    MessageResponse:
      type: object
      properties:
        message:
          type: string
    JWK:
      type: object
      properties:
        kid:
          type: string
        kty:
          type: string
        use:
          type: string
        alg:
          type: string
        n:
          type: string
        e:
          type: string
        x:
          type: string
        y:
          type: string
        crv:
          type: string
    JWKSet:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/JWK'
    CreateKeyRequest:
      type: object
      properties:
        algorithm:
          type: string
          enum:
          - RS256
          - RS384
          - RS512
          description: 签名算法
        notBefore:
          type: string
          description: 生效时间（可选）
        notAfter:
          type: string
          description: 过期时间（可选）
      required:
      - algorithm
    KeyResponse:
      type: object
      properties:
        kid:
          type: string
          description: 密钥 ID
        algorithm:
          type: string
          description: 签名算法
        status:
          type: string
          enum:
          - active
          - grace
          - retired
          description: 密钥状态
        publicJwk:
          $ref: '#/components/schemas/PublicJWK'
          description: 公钥 JWK
        notBefore:
          type: string
          description: 生效时间
        notAfter:
          type: string
          description: 过期时间
        createdAt:
          type: string
          format: date-time
          description: 创建时间
        updatedAt:
          type: string
          format: date-time
          description: 更新时间
    KeyListResponse:
      type: object
      properties:
        total:
          type: integer
          description: 总数
        limit:
          type: integer
          description: 每页数量
        offset:
          type: integer
          description: 偏移量
        keys:
          type: array
          items:
            $ref: '#/components/schemas/KeyInfo'
    KeyInfo:
      type: object
      properties:
        kid:
          type: string
          description: 密钥 ID
        algorithm:
          type: string
          description: 签名算法
        status:
          type: string
          description: 密钥状态
        publicJwk:
          $ref: '#/components/schemas/PublicJWK'
          description: 公钥 JWK
        notBefore:
          type: string
          description: 生效时间
        notAfter:
          type: string
          description: 过期时间
        createdAt:
          type: string
          format: date-time
          description: 创建时间
        updatedAt:
          type: string
          format: date-time
          description: 更新时间
    PublicJWK:
      type: object
      properties:
        kid:
          type: string
          description: key id
        kty:
          type: string
          description: '"RSA"/"EC"/"OKP"'
        use:
          type: string
          description: '"sig"'
        alg:
          type: string
          description: '"RS256"/"ES256"/"EdDSA"'
        n:
          type: string
          description: 'RSA: n/e; EC: crv/x/y; OKP: crv/x'
        e:
          type: string
        x:
          type: string
        y:
          type: string
        crv:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        requestId:
          type: string
