openapi: 3.1.0
info:
  title: IAM Authorization API
  version: 1.0.0
  description: 授权、角色、资源与策略管理 REST API
  contact:
    name: API Support
    email: yshujie@163.com
    url: https://github.com/FangcunMount/iam-contracts
servers:
- url: https://iam.yangshujie.com/api/v1
  description: 生产环境
- url: http://localhost:18081/api/v1
  description: 本地开发
tags:
- name: Health
  description: 健康检查
- name: Authorization-Roles
  description: 角色管理
- name: Authorization-Assignments
  description: 角色分配管理
- name: Authorization-Policies
  description: 策略管理
- name: Authorization-Resources
  description: 资源管理
paths:
  /authz/assignments/{id}:
    delete:
      tags:
      - Authorization-Assignments
      summary: 根据分配ID撤销角色
      parameters:
      - name: id
        in: path
        description: 分配ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
  /authz/assignments/grant:
    post:
      tags:
      - Authorization-Assignments
      summary: 授予角色
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.GrantRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.AssignmentResponse'
                  type: object
  /authz/assignments/revoke:
    post:
      tags:
      - Authorization-Assignments
      summary: 撤销角色
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RevokeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
  /authz/assignments/subject:
    get:
      tags:
      - Authorization-Assignments
      summary: 列出主体的角色分配
      parameters:
      - name: subject_type
        in: query
        description: 主体类型
        required: true
        schema:
          type: string
          enum:
          - user
          - group
      - name: subject_id
        in: query
        description: 主体ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.AssignmentResponse'
                      type: array
                  type: object
  /authz/policies:
    post:
      tags:
      - Authorization-Policies
      summary: 添加策略规则
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.AddPolicyRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
    delete:
      tags:
      - Authorization-Policies
      summary: 移除策略规则
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RemovePolicyRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
  /authz/policies/version:
    get:
      tags:
      - Authorization-Policies
      summary: 获取当前策略版本
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.PolicyVersionResponse'
                  type: object
  /authz/resources:
    get:
      tags:
      - Authorization-Resources
      summary: 列出资源
      parameters:
      - name: app_name
        in: query
        description: 应用名称
        schema:
          type: string
      - name: domain
        in: query
        description: 域
        schema:
          type: string
      - name: type
        in: query
        description: 类型
        schema:
          type: string
      - name: offset
        in: query
        description: 偏移量
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: 每页数量
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ListResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ResourceResponse'
                      type: array
                  type: object
    post:
      tags:
      - Authorization-Resources
      summary: 创建资源
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.CreateResourceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ResourceResponse'
                  type: object
  /authz/resources/{id}:
    get:
      tags:
      - Authorization-Resources
      summary: 获取资源详情
      parameters:
      - name: id
        in: path
        description: 资源ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ResourceResponse'
                  type: object
    put:
      tags:
      - Authorization-Resources
      summary: 更新资源
      parameters:
      - name: id
        in: path
        description: 资源ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.UpdateResourceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ResourceResponse'
                  type: object
    delete:
      tags:
      - Authorization-Resources
      summary: 删除资源
      parameters:
      - name: id
        in: path
        description: 资源ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
  /authz/resources/key/{key}:
    get:
      tags:
      - Authorization-Resources
      summary: 根据键获取资源
      parameters:
      - name: key
        in: path
        description: 资源键
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ResourceResponse'
                  type: object
  /authz/resources/validate-action:
    post:
      tags:
      - Authorization-Resources
      summary: 验证资源动作
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ValidateActionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ValidateActionResponse'
                  type: object
  /authz/roles:
    get:
      tags:
      - Authorization-Roles
      summary: 列出角色
      parameters:
      - name: offset
        in: query
        description: 偏移量
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: 每页数量
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ListResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RoleResponse'
                      type: array
                  type: object
    post:
      tags:
      - Authorization-Roles
      summary: 创建角色
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.CreateRoleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RoleResponse'
                  type: object
  /authz/roles/{id}:
    get:
      tags:
      - Authorization-Roles
      summary: 获取角色详情
      parameters:
      - name: id
        in: path
        description: 角色ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RoleResponse'
                  type: object
    put:
      tags:
      - Authorization-Roles
      summary: 更新角色
      parameters:
      - name: id
        in: path
        description: 角色ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.UpdateRoleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RoleResponse'
                  type: object
    delete:
      tags:
      - Authorization-Roles
      summary: 删除角色
      parameters:
      - name: id
        in: path
        description: 角色ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
  /authz/roles/{id}/assignments:
    get:
      tags:
      - Authorization-Assignments
      summary: 列出角色的分配记录
      parameters:
      - name: id
        in: path
        description: 角色ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.AssignmentResponse'
                      type: array
                  type: object
  /authz/roles/{id}/policies:
    get:
      tags:
      - Authorization-Policies
      summary: 获取角色的策略列表
      parameters:
      - name: id
        in: path
        description: 角色ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.PolicyRuleResponse'
                      type: array
                  type: object
components:
  parameters:
    Offset:
      in: query
      name: offset
      schema:
        type: integer
        minimum: 0
        default: 0
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    RoleId:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
    AssignmentId:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
    ResourceId:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
  responses:
    NotFound:
      description: 不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.AddPolicyRequest:
      properties:
        action:
          type: string
        changed_by:
          type: string
        reason:
          type: string
        resource_id:
          type: integer
        role_id:
          type: integer
      required:
      - action
      - changed_by
      - resource_id
      - role_id
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.AssignmentResponse:
      properties:
        granted_by:
          type: string
        id:
          type: integer
        role_id:
          type: integer
        subject_id:
          type: string
        subject_type:
          type: string
        tenant_id:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.CreateResourceRequest:
      properties:
        actions:
          items:
            type: string
          minItems: 1
          type: array
        app_name:
          type: string
        description:
          type: string
        display_name:
          type: string
        domain:
          type: string
        key:
          type: string
        type:
          type: string
      required:
      - actions
      - app_name
      - display_name
      - domain
      - key
      - type
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.CreateRoleRequest:
      properties:
        description:
          type: string
        display_name:
          type: string
        name:
          type: string
      required:
      - display_name
      - name
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.GrantRequest:
      properties:
        granted_by:
          type: string
        role_id:
          type: integer
        subject_id:
          type: string
        subject_type:
          enum:
          - user
          - group
          type: string
      required:
      - granted_by
      - role_id
      - subject_id
      - subject_type
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ListResponse:
      properties:
        code:
          type: integer
        data: {}
        limit:
          type: integer
        message:
          type: string
        offset:
          type: integer
        total:
          type: integer
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.PolicyRuleResponse:
      properties:
        action:
          type: string
        domain:
          type: string
        object:
          type: string
        subject:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.PolicyVersionResponse:
      properties:
        changed_by:
          type: string
        reason:
          type: string
        tenant_id:
          type: string
        version:
          type: integer
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RemovePolicyRequest:
      properties:
        action:
          type: string
        changed_by:
          type: string
        reason:
          type: string
        resource_id:
          type: integer
        role_id:
          type: integer
      required:
      - action
      - changed_by
      - resource_id
      - role_id
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ResourceResponse:
      properties:
        actions:
          items:
            type: string
          type: array
        app_name:
          type: string
        description:
          type: string
        display_name:
          type: string
        domain:
          type: string
        id:
          type: integer
        key:
          type: string
        type:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.Response:
      properties:
        code:
          type: integer
        data: {}
        message:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RevokeRequest:
      properties:
        role_id:
          type: integer
        subject_id:
          type: string
        subject_type:
          enum:
          - user
          - group
          type: string
      required:
      - role_id
      - subject_id
      - subject_type
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.RoleResponse:
      properties:
        description:
          type: string
        display_name:
          type: string
        id:
          type: integer
        name:
          type: string
        tenant_id:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.UpdateResourceRequest:
      properties:
        actions:
          items:
            type: string
          minItems: 1
          type: array
        description:
          type: string
        display_name:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.UpdateRoleRequest:
      properties:
        description:
          type: string
        display_name:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ValidateActionRequest:
      properties:
        action:
          type: string
        resource_key:
          type: string
      required:
      - action
      - resource_key
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_authz_restful_dto.ValidateActionResponse:
      properties:
        valid:
          type: boolean
      type: object
