openapi: 3.1.0
info:
  title: IAM · AuthN API（认证中心）
  version: 1.0.0
  description: 身份认证、令牌生命周期与账户管理 REST API
  contact:
    name: API Support
    email: yshujie@163.com
    url: https://github.com/FangcunMount/iam-contracts
servers:
  - url: https://iam.yangshujie.com/api/v1
    description: Production
  - url: http://localhost:18081/api/v1
    description: Local Dev
security:
  - bearerAuth: []
tags:
  - name: Authentication-Auth
    description: 认证与令牌生命周期
  - name: Authentication-Accounts
    description: 账户管理
  - name: Authentication-JWKS
    description: 公钥集管理

paths:
  /authn/login:
    post:
      tags: [Authentication-Auth]
      summary: 用户登录
      description: 支持密码、手机验证码、微信小程序、企业微信等多种登录方式。
      operationId: AuthLogin
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200': { description: 登录成功, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { description: 认证失败, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}

  /authn/refresh_token:
    post:
      tags: [Authentication-Auth]
      summary: 刷新访问令牌
      description: 使用刷新令牌获取新的访问令牌。
      operationId: RefreshAccessToken
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshTokenRequest' }
      responses:
        '200': { description: 刷新成功, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { description: 刷新令牌无效或过期, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}

  /authn/logout:
    post:
      tags: [Authentication-Auth]
      summary: 用户登出
      description: 撤销访问令牌和刷新令牌。
      operationId: Logout
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LogoutRequest' }
      responses:
        '200': { description: 登出成功, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }

  /authn/verify:
    post:
      tags: [Authentication-Auth]
      summary: 验证访问令牌
      description: 验证访问令牌有效性并返回声明信息。
      operationId: VerifyAccessToken
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VerifyTokenRequest' }
      responses:
        '200': { description: 验证成功, content: { application/json: { schema: { $ref: '#/components/schemas/TokenVerifyResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { description: 令牌无效, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}

  /.well-known/jwks.json:
    get:
      tags: [Authentication-JWKS]
      summary: 获取 JWKS
      description: 获取 JSON Web Key Set，用于验证 JWT 签名。
      operationId: GetJWKS
      responses:
        '200': { description: JWKS, content: { application/json: { schema: { $ref: '#/components/schemas/JWKSet' }}}}
        '500': { $ref: '#/components/responses/InternalServerError' }

  /authn/admin/jwks/keys:
    get:
      tags: [Authentication-JWKS]
      summary: 列出密钥
      description: 分页列出所有签名密钥，可按状态过滤。
      operationId: ListKeys
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [active, grace, retired] }
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200': { description: 密钥列表, content: { application/json: { schema: { $ref: '#/components/schemas/KeyListResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalServerError' }
      security: [ { bearerAuth: [] } ]
    post:
      tags: [Authentication-JWKS]
      summary: 创建密钥
      description: 创建新的签名密钥。
      operationId: CreateKey
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateKeyRequest' }
      responses:
        '201': { description: 创建成功, content: { application/json: { schema: { $ref: '#/components/schemas/KeyResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalServerError' }
      security: [ { bearerAuth: [] } ]

  /authn/admin/jwks/keys/{kid}:
    parameters: [ { $ref: '#/components/parameters/KeyId' } ]
    get:
      tags: [Authentication-JWKS]
      summary: 获取密钥详情
      description: 按 key id 查询密钥详情。
      operationId: GetKey
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/KeyResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
      security: [ { bearerAuth: [] } ]

  /authn/admin/jwks/keys/{kid}/retire:
    post:
      tags: [Authentication-JWKS]
      summary: 退役密钥
      description: 将密钥标记为退役状态。
      operationId: RetireKey
      parameters: [ { $ref: '#/components/parameters/KeyId' } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
      security: [ { bearerAuth: [] } ]

  /authn/admin/jwks/keys/{kid}/force-retire:
    post:
      tags: [Authentication-JWKS]
      summary: 强制退役密钥
      description: 立即强制退役密钥。
      operationId: ForceRetireKey
      parameters: [ { $ref: '#/components/parameters/KeyId' } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
      security: [ { bearerAuth: [] } ]

  /authn/admin/jwks/keys/{kid}/grace:
    post:
      tags: [Authentication-JWKS]
      summary: 密钥进入宽限期
      description: 将密钥置为宽限期，便于逐步切换。
      operationId: EnterGracePeriod
      parameters: [ { $ref: '#/components/parameters/KeyId' } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
      security: [ { bearerAuth: [] } ]

  /authn/admin/jwks/keys/cleanup:
    post:
      tags: [Authentication-JWKS]
      summary: 清理过期密钥
      description: 清理已过期的密钥资源。
      operationId: CleanupExpiredKeys
      responses:
        '200': { description: 清理结果, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalServerError' }
      security: [ { bearerAuth: [] } ]

  /authn/admin/jwks/keys/publishable:
    get:
      tags: [Authentication-JWKS]
      summary: 获取可发布密钥
      description: 获取当前可对外发布的 JWKS 列表。
      operationId: GetPublishableKeys
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/JWKSet' }}}}
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalServerError' }
      security: [ { bearerAuth: [] } ]

  /authn/accounts/wechat/register:
    post:
      tags: [Authentication-Accounts]
      summary: 微信用户注册
      description: 使用微信 JS Code 注册新用户，服务端自动调用 code2session 获取 OpenID/UnionID。
      operationId: RegisterWechatAccount
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterWeChatAccountReq' }
      responses:
        '201': { description: 注册成功, content: { application/json: { schema: { $ref: '#/components/schemas/RegisterResult' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }

  /authn/accounts/{accountId}:
    parameters: [ { $ref: '#/components/parameters/AccountId' } ]
    get:
      tags: [Authentication-Accounts]
      summary: 获取账户信息
      description: 根据账户 ID 查询账户详情。
      operationId: GetAccount
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Account' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /authn/accounts/{accountId}/profile:
    put:
      tags: [Authentication-Accounts]
      summary: 更新账户资料
      description: 更新指定账户的昵称、头像等资料。
      operationId: UpdateAccountProfile
      parameters: [ { $ref: '#/components/parameters/AccountId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpsertWeChatProfileReq' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /authn/accounts/{accountId}/unionid:
    put:
      tags: [Authentication-Accounts]
      summary: 设置账户 UnionID
      description: 绑定或更新账户的 UnionID。
      operationId: SetAccountUnionId
      parameters: [ { $ref: '#/components/parameters/AccountId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetWeChatUnionIDReq' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /authn/accounts/{accountId}/enable:
    post:
      tags: [Authentication-Accounts]
      summary: 启用账户
      description: 将账户状态切换为启用。
      operationId: EnableAccount
      parameters: [ { $ref: '#/components/parameters/AccountId' } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /authn/accounts/{accountId}/disable:
    post:
      tags: [Authentication-Accounts]
      summary: 禁用账户
      description: 将账户状态切换为禁用。
      operationId: DisableAccount
      parameters: [ { $ref: '#/components/parameters/AccountId' } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/MessageResponse' }}}}
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  parameters:
    AccountId: { in: path, name: accountId, required: true, schema: { type: string } }
    KeyId: { in: path, name: kid, required: true, schema: { type: string } }
    Limit:  { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
    Offset: { in: query, name: offset, schema: { type: integer, minimum: 0, default: 0 } }
  responses:
    Unauthorized: { description: 未认证, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}
    Forbidden:    { description: 无权限, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}
    NotFound:     { description: 不存在, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}
    Conflict:     { description: 冲突, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}
    BadRequest:   { description: 参数错误, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}
    InternalServerError: { description: 服务器内部错误, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}
  schemas:
    LoginRequest:
      type: object
      properties:
        method:
          type: string
          description: 认证方式：password | phone_otp | wechat | wecom
        credentials:
          type: array
          description: 凭证（根据 method 不同而不同）
          items: { type: integer }
        device_id:
          type: string
          description: 设备 ID
      required: [method, credentials]

    RefreshTokenRequest:
      type: object
      properties:
        refresh_token: { type: string }
      required: [refresh_token]

    LogoutRequest:
      type: object
      properties:
        access_token:
          type: string
          description: 可选，撤销访问令牌
        refresh_token:
          type: string
          description: 可选，撤销刷新令牌

    VerifyTokenRequest:
      type: object
      properties:
        access_token: { type: string }
      required: [access_token]

    TokenPair:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        token_type: { type: string, example: Bearer }
        expires_in: { type: integer }

    TokenVerifyResponse:
      type: object
      properties:
        valid: { type: boolean, description: 令牌是否有效 }
        claims: { $ref: '#/components/schemas/TokenClaims', description: 令牌声明（如果有效） }

    TokenClaims:
      type: object
      properties:
        account_id: { type: string, description: 账户 ID }
        expires_at: { type: string, description: 过期时间 }
        issued_at: { type: string, description: 签发时间 }
        issuer: { type: string, description: 签发者 }
        jti: { type: string, description: JWT ID（可选） }
        kid: { type: string, description: Key ID（可选） }
        tenant_id: { type: integer, description: 租户 ID（可选） }
        user_id: { type: string, description: 用户 ID }

    Account:
      type: object
      properties:
        appId: { type: string }
        externalId: { type: string }
        id: { type: string }
        provider: { type: string }
        status: { type: string }
        userId: { type: string }

    RegisterWeChatAccountReq:
      type: object
      properties:
        appId: { type: string, description: 微信应用ID }
        avatar: { type: string, description: 微信头像（可选） }
        email: { type: string, description: 邮箱（可选） }
        jsCode: { type: string, description: 微信登录凭证（临时登录凭证） }
        meta:
          type: object
          additionalProperties: true
          description: 微信元数据（可选）
        name: { type: string, description: 用户名 }
        nickname: { type: string, description: 微信昵称（可选） }
        phone: { type: string, description: 手机号（必填） }
      required: [appId, jsCode, name, phone]

    RegisterResult:
      type: object
      properties:
        accountId: { type: integer }
        accountType: { type: string }
        credentialID: { type: integer }
        email: { type: string }
        externalId: { type: string }
        isNewAccount: { type: boolean }
        isNewUser: { type: boolean }
        phone: { type: string }
        userId: { type: integer }
        userName: { type: string }

    UpsertWeChatProfileReq:
      type: object
      properties:
        nickname: { type: string }
        avatar: { type: string, format: uri }
        meta:
          type: object
          additionalProperties: true

    SetWeChatUnionIDReq:
      type: object
      properties:
        unionId: { type: string }

    MessageResponse:
      type: object
      properties:
        message: { type: string }

    JWK:
      type: object
      properties:
        kid: { type: string }
        kty: { type: string }
        use: { type: string }
        alg: { type: string }
        n: { type: string }
        e: { type: string }
        x: { type: string }
        y: { type: string }
        crv: { type: string }

    JWKSet:
      type: object
      properties:
        keys:
          type: array
          items: { $ref: '#/components/schemas/JWK' }

    CreateKeyRequest:
      type: object
      properties:
        algorithm: { type: string, enum: [RS256, RS384, RS512], description: 签名算法 }
        notBefore: { type: string, description: 生效时间（可选） }
        notAfter: { type: string, description: 过期时间（可选） }
      required: [algorithm]

    KeyResponse:
      type: object
      properties:
        kid: { type: string, description: 密钥 ID }
        algorithm: { type: string, description: 签名算法 }
        status: { type: string, enum: [active, grace, retired], description: 密钥状态 }
        publicJwk: { $ref: '#/components/schemas/PublicJWK', description: 公钥 JWK }
        notBefore: { type: string, description: 生效时间 }
        notAfter: { type: string, description: 过期时间 }
        createdAt: { type: string, format: date-time, description: 创建时间 }
        updatedAt: { type: string, format: date-time, description: 更新时间 }

    KeyListResponse:
      type: object
      properties:
        total: { type: integer, description: 总数 }
        limit: { type: integer, description: 每页数量 }
        offset: { type: integer, description: 偏移量 }
        keys:
          type: array
          items: { $ref: '#/components/schemas/KeyInfo' }

    KeyInfo:
      type: object
      properties:
        kid: { type: string, description: 密钥 ID }
        algorithm: { type: string, description: 签名算法 }
        status: { type: string, description: 密钥状态 }
        publicJwk: { $ref: '#/components/schemas/PublicJWK', description: 公钥 JWK }
        notBefore: { type: string, description: 生效时间 }
        notAfter: { type: string, description: 过期时间 }
        createdAt: { type: string, format: date-time, description: 创建时间 }
        updatedAt: { type: string, format: date-time, description: 更新时间 }

    PublicJWK:
      type: object
      properties:
        kid: { type: string, description: key id }
        kty: { type: string, description: "\"RSA\"/\"EC\"/\"OKP\"" }
        use: { type: string, description: "\"sig\"" }
        alg: { type: string, description: "\"RS256\"/\"ES256\"/\"EdDSA\"" }
        n: { type: string, description: 'RSA: n/e; EC: crv/x/y; OKP: crv/x' }
        e: { type: string }
        x: { type: string }
        y: { type: string }
        crv: { type: string }

    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        requestId: { type: string }
