openapi: 3.1.0
info:
  title: IAM Authorization API
  version: 1.0.0
  description: 授权、角色、资源与策略管理 REST API
  contact:
    name: API Support
    email: yshujie@163.com
    url: https://github.com/FangcunMount/iam-contracts
servers:
  - url: https://iam.yangshujie.com/api/v1
    description: 生产环境
  - url: http://localhost:18081/api/v1
    description: 本地开发
tags:
  - name: Health
    description: 健康检查
  - name: Authorization-Roles
    description: 角色管理
  - name: Authorization-Assignments
    description: 角色分配管理
  - name: Authorization-Policies
    description: 策略管理
  - name: Authorization-Resources
    description: 资源管理

paths:
  /authz/health:
    get:
      tags: [Health]
      summary: 授权模块健康检查
      description: 授权服务健康检查。
      operationId: AuthzHealth
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object, properties: { status: { type: string }, module: { type: string }}}}}}

  /authz/roles:
    get:
      tags: [Authorization-Roles]
      summary: 列出角色
      description: 分页列出角色。
      operationId: ListRoles
      parameters: [ { $ref: '#/components/parameters/Offset' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/RolePage' }}}}
    post:
      tags: [Authorization-Roles]
      summary: 创建角色
      description: 创建一个新角色。
      operationId: CreateRole
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRoleRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Role' }}}}

  /authz/roles/{id}:
    parameters: [ { $ref: '#/components/parameters/RoleId' } ]
    get:
      tags: [Authorization-Roles]
      summary: 获取角色详情
      description: 按 ID 查询角色详情。
      operationId: GetRole
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Role' }}}}
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Authorization-Roles]
      summary: 更新角色
      description: 更新角色的显示名或描述。
      operationId: UpdateRole
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateRoleRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Role' }}}}
    delete:
      tags: [Authorization-Roles]
      summary: 删除角色
      description: 删除指定角色。
      operationId: DeleteRole
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Message' }}}}

  /authz/roles/{id}/assignments:
    parameters: [ { $ref: '#/components/parameters/RoleId' } ]
    get:
      tags: [Authorization-Roles]
      summary: 列出角色的分配记录
      description: 按角色分页查询分配记录。
      operationId: ListAssignmentsByRole
      parameters: [ { $ref: '#/components/parameters/Offset' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/AssignmentPage' }}}}

  /authz/roles/{id}/policies:
    parameters: [ { $ref: '#/components/parameters/RoleId' } ]
    get:
      tags: [Authorization-Roles]
      summary: 获取角色策略
      description: 按角色获取策略列表。
      operationId: GetPoliciesByRole
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/PolicyRuleList' }}}}

  /authz/assignments/grant:
    post:
      tags: [Authorization-Assignments]
      summary: 授予角色
      description: 将角色授予用户或组。
      operationId: GrantAssignment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GrantRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Assignment' }}}}

  /authz/assignments/revoke:
    post:
      tags: [Authorization-Assignments]
      summary: 撤销角色
      description: 撤销主体的角色分配。
      operationId: RevokeAssignment
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RevokeRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Message' }}}}

  /authz/assignments/{id}:
    parameters: [ { $ref: '#/components/parameters/AssignmentId' } ]
    delete:
      tags: [Authorization-Assignments]
      summary: 根据分配ID撤销角色
      description: 通过分配 ID 撤销角色。
      operationId: RevokeAssignmentById
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Message' }}}}

  /authz/assignments/subject:
    get:
      tags: [Authorization-Assignments]
      summary: 列出主体的角色分配
      description: 按主体类型与 ID 查询角色分配。
      operationId: ListAssignmentsBySubject
      parameters:
        - in: query
          name: subject_type
          schema: { type: string }
        - in: query
          name: subject_id
          schema: { type: string }
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/AssignmentPage' }}}}

  /authz/policies:
    post:
      tags: [Authorization-Policies]
      summary: 添加策略规则
      description: 为角色添加资源动作策略。
      operationId: AddPolicyRule
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AddPolicyRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Message' }}}}
    delete:
      tags: [Authorization-Policies]
      summary: 移除策略规则
      description: 移除角色的资源动作策略。
      operationId: RemovePolicyRule
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RemovePolicyRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Message' }}}}

  /authz/policies/version:
    get:
      tags: [Authorization-Policies]
      summary: 获取当前策略版本
      description: 查询当前策略版本号。
      operationId: GetPolicyVersion
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object, properties: { version: { type: string }}}}}}

  /authz/resources:
    get:
      tags: [Authorization-Resources]
      summary: 列出资源
      description: 按条件分页列出资源。
      operationId: ListResources
      parameters:
        - in: query
          name: app_name
          schema: { type: string }
        - in: query
          name: domain
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string }
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ResourcePage' }}}}
    post:
      tags: [Authorization-Resources]
      summary: 创建资源
      description: 创建受控资源及其动作列表。
      operationId: CreateResource
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateResourceRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Resource' }}}}

  /authz/resources/{id}:
    parameters: [ { $ref: '#/components/parameters/ResourceId' } ]
    get:
      tags: [Authorization-Resources]
      summary: 获取资源详情
      description: 按资源 ID 查询详情。
      operationId: GetResource
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Resource' }}}}
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Authorization-Resources]
      summary: 更新资源
      description: 更新资源的基本信息与动作。
      operationId: UpdateResource
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateResourceRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Resource' }}}}
    delete:
      tags: [Authorization-Resources]
      summary: 删除资源
      description: 删除指定资源。
      operationId: DeleteResource
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Message' }}}}

  /authz/resources/key/{key}:
    parameters: [ { in: path, name: key, required: true, schema: { type: string } } ]
    get:
      tags: [Authorization-Resources]
      summary: 根据键获取资源
      description: 通过资源键查询资源详情。
      operationId: GetResourceByKey
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Resource' }}}}
        '404': { $ref: '#/components/responses/NotFound' }

  /authz/resources/validate-action:
    post:
      tags: [Authorization-Resources]
      summary: 验证资源动作
      description: 校验资源动作是否合法。
      operationId: ValidateResourceAction
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ValidateActionRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ValidateActionResponse' }}}}

components:
  parameters:
    Offset: { in: query, name: offset, schema: { type: integer, minimum: 0, default: 0 } }
    Limit: { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
    RoleId: { in: path, name: id, required: true, schema: { type: integer, format: int64 } }
    AssignmentId: { in: path, name: id, required: true, schema: { type: integer, format: int64 } }
    ResourceId: { in: path, name: id, required: true, schema: { type: integer, format: int64 } }
  responses:
    NotFound: { description: 不存在, content: { application/json: { schema: { $ref: '#/components/schemas/Error' }}}}
  schemas:
    Message:
      type: object
      properties:
        message: { type: string }

    Role:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        display_name: { type: string }
        description: { type: string }
        tenant_id: { type: string }
        createdAt: { type: string, format: date-time }
      required: [id, name, display_name]

    RolePage:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        data:
          type: array
          items: { $ref: '#/components/schemas/Role' }

    CreateRoleRequest:
      type: object
      properties:
        name: { type: string }
        display_name: { type: string }
        description: { type: string }
      required: [name, display_name]

    UpdateRoleRequest:
      type: object
      properties:
        display_name: { type: string }
        description: { type: string }

    Assignment:
      type: object
      properties:
        id: { type: integer }
        subject_type: { type: string, enum: [user, group] }
        subject_id: { type: string }
        role_id: { type: integer }
        granted_by: { type: string }
        tenant_id: { type: string }

    AssignmentPage:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        data:
          type: array
          items: { $ref: '#/components/schemas/Assignment' }

    GrantRequest:
      type: object
      properties:
        subject_type:
          type: string
          enum: [user, group]
        subject_id: { type: string }
        role_id: { type: integer }
        granted_by: { type: string }
      required: [subject_type, subject_id, role_id, granted_by]

    RevokeRequest:
      type: object
      properties:
        subject_type: { type: string, enum: [user, group] }
        subject_id: { type: string }
        role_id: { type: integer }
      required: [subject_type, subject_id, role_id]

    PolicyRule:
      type: object
      properties:
        role_id: { type: integer }
        resource_id: { type: integer }
        action: { type: string }

    PolicyRuleList:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/PolicyRule' }

    AddPolicyRequest:
      type: object
      properties:
        role_id: { type: integer }
        resource_id: { type: integer }
        action: { type: string }
        changed_by: { type: string }
        reason: { type: string }
      required: [role_id, resource_id, action, changed_by]

    RemovePolicyRequest:
      type: object
      properties:
        role_id: { type: integer }
        resource_id: { type: integer }
        action: { type: string }
        changed_by: { type: string }
        reason: { type: string }
      required: [role_id, resource_id, action, changed_by]

    Resource:
      type: object
      properties:
        id: { type: integer }
        key: { type: string }
        domain: { type: string }
        app_name: { type: string }
        type: { type: string }
        actions:
          type: array
          items: { type: string }
        createdAt: { type: string, format: date-time }
        display_name: { type: string }
        description: { type: string }

    ResourcePage:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        data:
          type: array
          items: { $ref: '#/components/schemas/Resource' }

    CreateResourceRequest:
      type: object
      properties:
        key: { type: string }
        domain: { type: string }
        app_name: { type: string }
        type: { type: string }
        actions:
          type: array
          items: { type: string }
          minItems: 1
        display_name: { type: string }
        description: { type: string }
      required: [key, domain, type, actions, app_name, display_name]

    UpdateResourceRequest:
      type: object
      properties:
        actions:
          type: array
          items: { type: string }
          minItems: 1
        display_name: { type: string }
        description: { type: string }

    ValidateActionRequest:
      type: object
      properties:
        resource_key: { type: string }
        action: { type: string }
      required: [resource_key, action]

    ValidateActionResponse:
      type: object
      properties:
        valid: { type: boolean }

    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
