openapi: 3.1.0
info:
  title: IAM · Identity API v2
  version: 2.0.0
  description: 用户、档案与档案关系 REST API
  contact:
    name: API Support
    email: yshujie@163.com
    url: https://github.com/FangcunMount/iam
servers:
- url: https://iam.fangcunmount.cn/api/v2
  description: Production
- url: http://localhost:18081/api/v2
  description: Local Dev
security:
- bearerAuth: []
tags:
- name: Identity-Users
- name: Identity-Profiles
- name: Identity-ProfileLink
- name: Suggest
paths:
  /identity/me:
    get:
      tags:
      - Identity-Users
      summary: 获取当前用户信息
      description: 获取当前登录用户的资料信息
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.UserResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
    patch:
      tags:
      - Identity-Users
      summary: 更新当前用户信息
      description: 部分更新当前登录用户的信息，支持更新昵称和联系方式
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_request.UserUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.UserResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
  /identity/me/profiles:
    get:
      tags:
      - Identity-Profiles
      summary: 获取当前用户的档案列表
      description: 获取当前登录用户作为关系用户的所有档案
      parameters:
      - name: offset
        in: query
        description: 偏移量
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: 每页数量
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfilePageResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
  /identity/profile-links:
    get:
      tags:
      - Identity-ProfileLink
      summary: 查询档案关系
      description: 查询用户或档案的档案关系列表
      parameters:
      - name: user_id
        in: query
        description: 用户 ID
        schema:
          type: string
      - name: profile_id
        in: query
        description: 档案 ID
        schema:
          type: string
      - name: include_revoked
        in: query
        description: 是否包含已撤销档案关系
        schema:
          type: boolean
      - name: offset
        in: query
        description: 偏移量
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: 每页数量
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfileLinkPageResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
  /identity/profiles/{id}:
    get:
      tags:
      - Identity-Profiles
      summary: 查询档案（仅限当前用户可访问的档案）
      description: 根据档案 ID 查询档案详情，只能查询当前用户关系的档案
      parameters:
      - name: id
        in: path
        description: 档案 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfileResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '403':
          description: 无权限访问此档案
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '404':
          description: 档案不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
    patch:
      tags:
      - Identity-Profiles
      summary: 更新档案
      description: 部分更新当前用户可访问的档案信息
      parameters:
      - name: id
        in: path
        description: 档案 ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_request.ProfileUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfileResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '403':
          description: 无权限修改此档案
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '404':
          description: 档案不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    ProfileId:
      in: path
      name: profileId
      required: true
      schema:
        type: string
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      in: query
      name: offset
      schema:
        type: integer
        minimum: 0
        default: 0
    IdempotencyKey:
      in: header
      name: X-Idempotency-Key
      schema:
        type: string
  responses:
    Unauthorized:
      description: 未认证
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
    Forbidden:
      description: 无权限
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
    NotFound:
      description: 不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
    Conflict:
      description: 冲突
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
    BadRequest:
      description: 参数错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
    InternalServerError:
      description: 服务器内部错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_pkg_core.ErrResponse'
  schemas:
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_request.ProfileUpdateRequest:
      properties:
        dob:
          type: string
        gender:
          type: integer
        legalName:
          type: string
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_request.UserContactUpsert:
      properties:
        type:
          enum:
          - email
          - phone
          type: string
        value:
          type: string
      required:
      - type
      - value
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_request.UserUpdateRequest:
      properties:
        avatar:
          type: string
        contacts:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_request.UserContactUpsert'
          type: array
        nickname:
          type: string
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.PermissionResponse:
      properties:
        action:
          type: string
        mode:
          type: string
        resource:
          type: string
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfileLinkPageResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfileLinkResponse'
          type: array
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfileLinkResponse:
      properties:
        id:
          type: integer
        profileId:
          type: string
        relation:
          type: string
        revokedAt:
          type: string
        since:
          type: string
        userId:
          type: string
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfilePageResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfileResponse'
          type: array
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.ProfileResponse:
      properties:
        createdAt:
          type: string
        dob:
          type: string
        gender:
          type: integer
        id:
          type: string
        idMasked:
          type: string
        idType:
          type: string
        legalName:
          type: string
        updatedAt:
          type: string
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.UserResponse:
      properties:
        avatar:
          type: string
        contacts:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.VerifiedContactResponse'
          type: array
        createdAt:
          type: string
        id:
          type: string
        nickname:
          type: string
        permissions:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.PermissionResponse'
          type: array
        roles:
          items:
            type: string
          type: array
        status:
          type: string
        updatedAt:
          type: string
      type: object
    github_com_FangcunMount_iam_v2_internal_apiserver_transport_rest_identity_response.VerifiedContactResponse:
      properties:
        type:
          type: string
        value:
          type: string
        verifiedAt:
          type: string
      type: object
    github_com_FangcunMount_iam_v2_pkg_core.ErrResponse:
      properties:
        code:
          description: Code 定义了业务错误代码
          type: integer
        message:
          description: 'Message 包含此消息的详细信息

            此消息适合暴露给外部'
          type: string
        reference:
          description: Reference 返回参考文档，可能有助于解决此错误
          type: string
      type: object
