openapi: 3.1.0
info:
  title: IAM · Identity API
  version: 1.0.0
  description: 用户、儿童档案与监护关系 REST API
  contact:
    name: API Support
    email: yshujie@163.com
    url: https://github.com/FangcunMount/iam-contracts
servers:
- url: https://iam.yangshujie.com/api/v1
  description: Production
- url: http://localhost:18081/api/v1
  description: Local Dev
security:
- bearerAuth: []
tags:
- name: Identity-Users
- name: Identity-Children
- name: Identity-Guardianship
paths:
  /identity/children/{id}:
    get:
      tags:
      - Identity-Children
      summary: 查询儿童档案（仅限自己监护的孩子）
      description: 根据儿童 ID 查询儿童详细档案，只能查询当前用户监护的孩子
      parameters:
      - name: id
        in: path
        description: 儿童 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限访问此儿童
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '404':
          description: 儿童不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
    patch:
      tags:
      - Identity-Children
      summary: 更新儿童档案（仅限自己监护的孩子）
      description: 部分更新儿童档案信息，只能更新当前用户监护的孩子
      parameters:
      - name: id
        in: path
        description: 儿童 ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.ChildUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '403':
          description: 无权限修改此儿童
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '404':
          description: 儿童不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /identity/children/register:
    post:
      tags:
      - Identity-Children
      summary: 注册儿童档案并建立监护关系
      description: 创建儿童档案并自动将当前用户设置为监护人（身份证可不填写）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.ChildRegisterRequest'
      responses:
        '201':
          description: 注册成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildRegisterResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '409':
          description: 儿童已存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /identity/children/search:
    get:
      tags:
      - Identity-Children
      summary: 搜索儿童
      description: 根据姓名、生日等信息搜索相似的儿童档案（用于运营查询）
      parameters:
      - name: name
        in: query
        description: 儿童姓名
        schema:
          type: string
      - name: dob
        in: query
        description: 出生日期 YYYY-MM-DD
        schema:
          type: string
      - name: offset
        in: query
        description: 偏移量
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: 每页数量
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildPageResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /identity/guardians:
    get:
      tags:
      - Identity-Guardianship
      summary: 查询监护关系
      description: 查询用户或儿童的监护关系列表
      parameters:
      - name: user_id
        in: query
        description: 用户 ID
        schema:
          type: string
      - name: child_id
        in: query
        description: 儿童 ID
        schema:
          type: string
      - name: active
        in: query
        description: 是否仅查询活跃的监护关系
        schema:
          type: boolean
      - name: offset
        in: query
        description: 偏移量
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: 每页数量
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.GuardianshipPageResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /identity/guardians/grant:
    post:
      tags:
      - Identity-Guardianship
      summary: 授予监护关系
      description: 将用户设置为儿童的监护人
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.GuardianGrantRequest'
      responses:
        '200':
          description: 授予成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.GuardianshipResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '409':
          description: 监护关系已存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /identity/me:
    get:
      tags:
      - Identity-Users
      summary: 获取当前用户信息
      description: 获取当前登录用户的资料信息
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.UserResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
    patch:
      tags:
      - Identity-Users
      summary: 更新当前用户信息
      description: 部分更新当前登录用户的信息，支持更新昵称和联系方式
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.UserUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.UserResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
  /identity/me/children:
    get:
      tags:
      - Identity-Children
      summary: 获取当前用户的儿童档案列表
      description: 获取当前登录用户作为监护人的所有儿童档案
      parameters:
      - name: offset
        in: query
        description: 偏移量
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: 每页数量
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildPageResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    ChildId:
      in: path
      name: childId
      required: true
      schema:
        type: string
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      in: query
      name: offset
      schema:
        type: integer
        minimum: 0
        default: 0
    IdempotencyKey:
      in: header
      name: X-Idempotency-Key
      schema:
        type: string
  responses:
    Unauthorized:
      description: 未认证
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 无权限
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: 冲突
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: 参数错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: 服务器内部错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.ChildRegisterRequest:
      properties:
        dob:
          type: string
        gender:
          type: integer
        heightCm:
          type: integer
        idNo:
          type: string
        idType:
          type: string
        legalName:
          type: string
        relation:
          enum:
          - self
          - parent
          - guardian
          type: string
        weightKg:
          type: string
      required:
      - dob
      - gender
      - legalName
      - relation
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.ChildUpdateRequest:
      properties:
        dob:
          type: string
        gender:
          type: integer
        heightCm:
          type: integer
        legalName:
          type: string
        weightKg:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.GuardianGrantRequest:
      properties:
        childId:
          type: string
        relation:
          enum:
          - self
          - parent
          - guardian
          type: string
        userId:
          type: string
      required:
      - childId
      - relation
      - userId
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.UserUpdateRequest:
      properties:
        avatar:
          type: string
        contacts:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_request.UserContactUpsert'
          type: array
        nickname:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildPageResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildResponse'
          type: array
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildRegisterResponse:
      properties:
        child:
          $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildResponse'
        guardianship:
          $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.GuardianshipResponse'
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.ChildResponse:
      properties:
        createdAt:
          type: string
        dob:
          type: string
        gender:
          type: integer
        heightCm:
          type: integer
        id:
          type: string
        idMasked:
          type: string
        idType:
          type: string
        legalName:
          type: string
        updatedAt:
          type: string
        weightKg:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.GuardianshipPageResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.GuardianshipResponse'
          type: array
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.GuardianshipResponse:
      properties:
        childId:
          type: string
        id:
          type: integer
        relation:
          type: string
        revokedAt:
          type: string
        since:
          type: string
        userId:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.UserResponse:
      properties:
        avatar:
          type: string
        contacts:
          items:
            $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_uc_restful_response.VerifiedContactResponse'
          type: array
        createdAt:
          type: string
        id:
          type: string
        nickname:
          type: string
        status:
          type: string
        updatedAt:
          type: string
      type: object
    github_com_FangcunMount_iam-contracts_pkg_core.ErrResponse:
      properties:
        code:
          description: Code 定义了业务错误代码
          type: integer
        message:
          description: 'Message 包含此消息的详细信息

            此消息适合暴露给外部'
          type: string
        reference:
          description: Reference 返回参考文档，可能有助于解决此错误
          type: string
      type: object
