openapi: 3.1.0
info:
  title: IAM Identity Provider (IDP) API
  version: 1.0.0
  description: 微信应用管理及第三方身份提供能力（登录由 authn 模块统一提供）。
  contact:
    name: API Support
    email: yshujie@163.com
    url: https://github.com/FangcunMount/iam-contracts
servers:
- url: https://iam.yangshujie.com/api/v1
  description: 生产环境
- url: http://localhost:18081/api/v1
  description: 本地开发
tags:
- name: IDP-WeChat
  description: 微信应用管理
- name: Health
  description: 健康检查
- name: IDP-Wechat
paths:
  /idp/wechat-apps:
    post:
      tags:
      - IDP-Wechat
      summary: 创建微信应用
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_request.CreateWechatAppRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.WechatAppResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
  /idp/wechat-apps/{app_id}:
    get:
      tags:
      - IDP-Wechat
      summary: 查询微信应用
      parameters:
      - name: app_id
        in: path
        description: 微信应用 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.WechatAppResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
  /idp/wechat-apps/{app_id}/access-token:
    get:
      tags:
      - IDP-Wechat
      summary: 获取访问令牌（带缓存和自动刷新）
      parameters:
      - name: app_id
        in: path
        description: 微信应用 ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.AccessTokenResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
  /idp/wechat-apps/refresh-access-token:
    post:
      tags:
      - IDP-Wechat
      summary: 强制刷新访问令牌
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_request.RefreshAccessTokenRequest'
      responses:
        '200':
          description: 刷新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.AccessTokenResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
  /idp/wechat-apps/rotate-auth-secret:
    post:
      tags:
      - IDP-Wechat
      summary: 轮换认证密钥（AppSecret）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_request.RotateAuthSecretRequest'
      responses:
        '200':
          description: 轮换成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.RotateSecretResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
  /idp/wechat-apps/rotate-msg-secret:
    post:
      tags:
      - IDP-Wechat
      summary: 轮换消息加解密密钥
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_request.RotateMsgSecretRequest'
      responses:
        '200':
          description: 轮换成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.RotateSecretResponse'
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '404':
          description: 应用不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_FangcunMount_iam-contracts_internal_apiserver_interface_idp_restful_response.ErrorResponse'
components:
  responses:
    NotFound:
      description: 不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    WechatApp:
      type: object
      properties:
        app_id:
          type: string
        name:
          type: string
        type:
          type: string
        app_secret:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    CreateWechatAppRequest:
      type: object
      properties:
        app_id:
          type: string
        name:
          type: string
        type:
          type: string
        app_secret:
          type: string
      required:
      - app_id
      - name
      - type
    RotateAuthSecretRequest:
      type: object
      properties:
        app_id:
          type: string
        new_secret:
          type: string
      required:
      - app_id
      - new_secret
    RotateMsgSecretRequest:
      type: object
      properties:
        app_id:
          type: string
        callback_token:
          type: string
        encoding_aes_key:
          type: string
      required:
      - app_id
      - callback_token
      - encoding_aes_key
    RefreshAccessTokenRequest:
      type: object
      properties:
        app_id:
          type: string
      required:
      - app_id
    AccessTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
    Message:
      type: object
      properties:
        message:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
